* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  background: url(https://user-images.githubusercontent.com/107473816/224479644-ff0e103c-f109-490c-b3b9-590634d01be5.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#obstacles,
#bull,
#egg,
#toad,
#larva {
  display: none;
}
